@use "@/variables" as v;

.orderModal {
  width: 100%;
  max-width: 580px;
  text-align: center;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 0px 0px 0px 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #afadad;
    border-radius: 10px;

    &:hover {
      background: #555;
    }
  }
}
