@use '@/variables' as v;

.errorState {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: v.$color-red-800;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}
